@model RoleToReturnDto



<div class="my-3">
    <label asp-for="Id" class="col-form-label">ID</label>
    <input type="text" asp-for="Id" class="form-control" />

</div>

<div class="my-3">
    <label asp-for="Name" class="col-form-label">Name</label>
    <input type="text" asp-for="Name" class="form-control" />

</div>

