@model ForgetPasswordUsingPhoneDto

@{
    ViewData["Title"] = "ConfirmResetPasswordBySMS";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="SendResetPasswordBySMS" method="post">
            <input class="text" type="text" asp-for="PhoneNumber" placeholder="Enter your Phone Number" required>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            <input type="submit" value="Send Reset Code">
        </form>
        <p><a asp-action="SignIn">Return to Sign In</a></p>
    </div>
</div>

@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
