
@{
    ViewData["Title"] = "ConfirmForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}



<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>
		
		<p> <a asp-action="ForgetPasswordUsingEmail">Continue Confirming Using Email?</a></p>
		<p> <a asp-action="ForgetPasswordUsingSMS">Continue Confirming Using SMS?</a></p>


	</div>
</div>