@model ForgetPasswordDto
@{
	ViewData["Title"] = "ForgetPasswordUsingSMS";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All"></div>


		<form asp-action="SendResetPasswordSMS">
			<input class="text email" type="email" asp-for="Email" placeholder="Email" required="">
			
			<input type="submit" value="Reset Your Password">
		</form>
		<p> <a asp-action="SignIn">Return to Sign In</a></p>
		<p> <a asp-action="ConfirmForgetPassword">Back</a></p>


	</div>
</div>


@section ValidationSection
{
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

